* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

navbar {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #144458;
  text-align: center; }
  navbar a {
    color: white;
    text-decoration: none; }
  navbar .fas {
    margin-bottom: 5px;
    font-size: 2rem; }
  navbar li {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 200ms ease; }
  navbar .image-nav {
    max-width: 8rem;
    margin-bottom: 15px; }
  navbar .link:hover li {
    background-color: #133949; }

.compact-navbar {
  position: fixed;
  display: none;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  z-index: 99;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #50514F; }
  .compact-navbar p {
    font-size: 1.2rem; }
  .compact-navbar i {
    font-size: 2rem; }
  .compact-navbar .compact-menu {
    position: absolute;
    margin-left: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    text-align: center;
    background-color: #144458;
    transition: 200ms ease;
    overflow-y: auto; }
    .compact-navbar .compact-menu a {
      display: flex;
      flex-direction: column;
      color: white;
      text-decoration: none;
      font-size: 2rem;
      background-color: #144458;
      padding: 20px 0;
      border-bottom: 1px solid #133949; }
    .compact-navbar .compact-menu a:first-of-type {
      border-top: 1px solid #133949; }
    .compact-navbar .compact-menu .image-nav-compact {
      max-width: 150px !important;
      margin-top: 10px;
      margin-bottom: 15px; }
    .compact-navbar .compact-menu .compact-active {
      border-right: 5px solid #487B72;
      background-color: #133949; }

.container-home {
  background-color: white;
  padding: 50px 120px;
  margin-left: 8rem; }
  .container-home .introduction {
    display: flex;
    flex-direction: column;
    font-size: 2rem; }
    .container-home .introduction .my-name {
      text-align: center;
      color: #F25F5C;
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 10px; }
    .container-home .introduction .text-right {
      text-align: right; }
  .container-home .download-cv {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: white;
    border: 4px outset #F25F5C;
    padding: 10px 35px;
    transition: 200ms ease;
    margin-top: 45px;
    margin-left: 50%;
    transform: translateX(-50%); }
  .container-home .download-cv:hover {
    cursor: pointer;
    background-color: #F25F5C;
    color: white;
    border-style: inset;
    text-shadow: 1px 1px 1px black; }

.about-me-description .my-name {
  background-color: #F25F5C;
  color: white;
  width: 200px;
  padding-left: 15px;
  font-size: 1.5rem;
  margin-left: -15px !important;
  margin-bottom: 20px !important; }

.about-me-description .desc {
  text-align: justify;
  max-height: 60%; }

.about-me-description .contact-data .list-info {
  display: block;
  min-width: 100%;
  margin-bottom: 0; }
  .about-me-description .contact-data .list-info li {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    list-style: none;
    font-size: 100%;
    border-left: 2px solid #F25F5C;
    padding-left: 4px; }
    .about-me-description .contact-data .list-info li .highlight {
      margin-right: 4px;
      color: #F25F5C;
      font-weight: 600; }
    .about-me-description .contact-data .list-info li a {
      color: black; }

.about-me-description .social-media {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 15px; }
  .about-me-description .social-media a {
    font-size: 300%;
    width: 100% !important;
    text-align: center;
    color: #F25F5C;
    padding-top: 10px;
    transition: 200ms ease; }
    .about-me-description .social-media a:hover {
      background-color: #F25F5C;
      color: white;
      text-shadow: 1px 1px 1px black;
      box-shadow: 1px 1px 1px black; }

.container-skills {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important; }
  .container-skills .skills-desc {
    background-color: #F25F5C;
    color: white;
    width: 250px;
    padding-left: 15px;
    font-size: 1.5rem;
    margin-left: -5px;
    margin-bottom: 2em !important; }
  .container-skills .skills-item {
    text-align: center;
    transition: 200ms ease;
    margin-top: 5px; }
    .container-skills .skills-item i {
      font-size: 6em; }
    .container-skills .skills-item p {
      font-size: 2em;
      font-weight: bold; }
    .container-skills .skills-item:hover {
      margin-top: 0;
      margin-bottom: 5px;
      cursor: pointer;
      color: #F25F5C; }

.container-portfolio {
  padding: 1em 0;
  flex-direction: column;
  display: flex;
  justify-content: flex-start !important; }
  .container-portfolio .description {
    float: right;
    background-color: #F25F5C;
    color: white;
    width: 400px;
    padding-left: 15px;
    font-size: 1.5rem;
    margin-right: -15px;
    margin-bottom: 20px !important; }
  .container-portfolio img {
    box-shadow: 0px 0px 5px black;
    transition: 200ms ease;
    padding: 0;
    max-width: 100%;
    margin-bottom: 1em; }
  .container-portfolio .portfolio-item-desc {
    position: absolute;
    display: flex;
    z-index: 88;
    align-items: flex-end;
    justify-content: center;
    top: 0;
    bottom: 100%;
    right: 15px;
    left: 15px;
    background-color: #144458;
    border: 1px solid black;
    opacity: 0.9;
    transition: 200ms ease;
    overflow: hidden; }
    .container-portfolio .portfolio-item-desc p {
      text-align: center;
      font-size: 2em;
      font-weight: bold;
      color: white;
      background-color: #487B72;
      padding: 5px 15px;
      margin-bottom: 10px !important;
      border-radius: 5px; }
  .container-portfolio .portfolio-item {
    color: black;
    text-decoration: none;
    transition: 200ms ease;
    margin-top: 10px; }
  .container-portfolio .portfolio-item:hover .portfolio-item-desc {
    bottom: 15px; }
  .container-portfolio .portfolio-item-description {
    font-size: 1.3em; }

.container-contact {
  flex-direction: column;
  padding: 1em 0; }
  .container-contact .title {
    margin-bottom: 2rem; }
  .container-contact .contact-details {
    padding-left: 30px; }
    .container-contact .contact-details .description {
      width: 200px; }
    .container-contact .contact-details .contact-details-items {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
      margin: 2em 0; }
    .container-contact .contact-details .contact-details-item {
      align-items: center;
      text-align: center;
      justify-content: space-between;
      margin: 10px 0;
      border-radius: 1em;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      width: 300px;
      background-color: #0b2631;
      color: white; }
      .container-contact .contact-details .contact-details-item .fab {
        width: 63px; }
      .container-contact .contact-details .contact-details-item i {
        font-size: 2em;
        padding: 10px 15px;
        box-shadow: 1px 1px 5px black;
        border-right: 1px solid black;
        border-left: none;
        background-color: #144458;
        border-radius: 15px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      .container-contact .contact-details .contact-details-item p {
        padding-right: 10px;
        font-weight: bold;
        text-align: center; }
      .container-contact .contact-details .contact-details-item .swap-shadow {
        box-shadow: -1px 1px 5px black;
        border-right: none;
        border-radius: 15px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: 1px solid black; }
      .container-contact .contact-details .contact-details-item:hover {
        cursor: pointer; }
  .container-contact .contact-form .description {
    width: 220px; }
  .container-contact .contact-form .row {
    flex-direction: column; }
  .container-contact .contact-form .infos {
    margin-top: 2em;
    font-size: 1em;
    width: 100%; }
    .container-contact .contact-form .infos input {
      border-color: #d8d8d8;
      background-color: #F5F5F5;
      padding: 5px 1em;
      width: 83%;
      margin-bottom: 1em;
      box-shadow: 0px 0px 1px black;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px; }
  .container-contact .contact-form .message div {
    padding: 0; }
  .container-contact .contact-form .message textarea {
    border: 2px inset #d8d8d8;
    background-color: #F5F5F5;
    padding: 5px 1em;
    width: 83%;
    margin-left: -15px;
    box-shadow: 0px 0px 1px black;
    border-bottom: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 5px; }
  .container-contact .contact-form .message button {
    border: 2px inset #d8d8d8;
    width: 83%;
    background-color: #F5F5F5;
    margin-left: -15px;
    margin-top: -6px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-top: none;
    border-top-right-radius: 0;
    box-shadow: 0px 0px 1px black;
    font-weight: bold;
    font-size: 1.2em;
    transition: 200ms ease;
    margin-bottom: 2em; }
    .container-contact .contact-form .message button i {
      margin-left: 10px; }
    .container-contact .contact-form .message button:hover {
      background-color: #7C7C7C;
      color: white;
      border: 2px solid #7C7C7C;
      border-top: none;
      text-shadow: 1px 1px black; }

.navigating-info {
  color: white;
  font-size: 1.2em;
  animation-name: fadeInfo;
  animation-duration: 2s;
  animation-iteration-count: infinite; }
  .navigating-info__arrows {
    position: fixed;
    bottom: 1em;
    right: 1em; }
  .navigating-info__scroll {
    position: fixed;
    top: 1em;
    right: 1em; }

@keyframes fadeInfo {
  0% {
    opacity: 1; }
  40% {
    opacity: 0; }
  70% {
    opacity: 1; } }

.content {
  margin-left: 8rem;
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover; }

.container-box {
  background-color: white;
  width: 60vw;
  overflow-x: hidden;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  border: 3px solid white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 50px;
  margin-left: 8rem; }
  .container-box::-webkit-scrollbar {
    width: 5px;
    height: 50px; }
  .container-box::-webkit-scrollbar-thumb {
    background: #F25F5C;
    border-radius: 5em; }
  .container-box::-webkit-scrollbar-thumb:hover {
    background: #d65654; }
  .container-box .title {
    width: 100%;
    text-align: center !important;
    font-size: 4em;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #F25F5C;
    color: #F25F5C; }
  .container-box .content-about-me {
    padding: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .flex-wrapper p {
    margin-bottom: 0;
    margin-top: 8px; }
  .flex-wrapper i {
    margin-top: 3px; }

.wrapper {
  display: flex;
  flex-wrap: wrap; }

.box {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.link:hover {
  color: white !important;
  text-decoration: none; }

p {
  margin-bottom: 0 !important; }

.link-active {
  border-right: 5px solid #487B72;
  background-color: #133949; }

.description {
  background-color: #F25F5C;
  color: white;
  padding-left: 5px; }

@media screen and (max-width: 1007px) {
  navbar {
    display: none; }
  .compact-navbar {
    display: block; }
  .content, .container-home, .container-box {
    margin: 0; }
  .container-box {
    margin-top: 40px !important;
    width: 85vw; }
  .portfolio-item-description {
    display: block !important; }
  .portfolio-item-desc {
    display: none !important; } }

@media screen and (max-width: 800px) {
  .container-home {
    padding: 30px 60px; }
  .desc {
    margin-right: 0 !important; } }

@media screen and (max-width: 767px) {
  .contact-form {
    margin-top: 1em; }
    .contact-form .message input, .contact-form .message textarea, .contact-form .message button {
      width: 100% !important;
      margin-left: 0 !important; }
    .contact-form .infos input {
      width: 100% !important;
      margin-left: 15px; } }

@media screen and (max-width: 605px) {
  .container-home {
    padding: 20px 25px;
    width: 100vw; }
  .introduction {
    font-size: 1.5rem !important; }
    .introduction .my-name {
      font-size: 3rem !important; }
  .download-cv {
    padding: 10px 20px; }
  .container-box {
    border-radius: 5px;
    width: 90vw; }
    .container-box .title {
      font-size: 2.5em !important; }
    .container-box .my-name {
      font-size: 2rem;
      width: 100%;
      margin-left: auto !important;
      padding-left: 0;
      text-align: center; }
  .content-about-me {
    padding: 1em !important; }
  .skills-desc, .description {
    width: 100% !important;
    text-align: center;
    margin-left: 0 !important; }
  .description {
    padding-left: 0 !important;
    margin-right: 0 !important;
    font-size: 1.2em !important; }
  .contact-details, .contact-form {
    padding: 0px 15px !important; } }

@media screen and (max-width: 575px) {
  .list-info li {
    border-left: none !important; }
    .list-info li:first-of-type {
      margin-top: 10px;
      border-top: 2px solid #F25F5C; }
    .list-info li:last-of-type {
      border-bottom: 2px solid #F25F5C;
      padding-bottom: 5px; }
  .list-info {
    font-size: 0.9rem !important; }
  .social-media {
    margin-top: 10px !important; } }

@media screen and (max-width: 400px) {
  .container-home {
    padding: 15px 20px; }
  .introduction {
    font-size: 1.3rem !important; }
    .introduction .my-name {
      font-size: 2.4rem !important; }
  .download-cv {
    font-size: 1rem !important; }
  .container-about-me .title {
    font-size: 2em !important; }
  .container-about-me .my-name {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    padding-left: 0;
    margin-left: auto !important; } }

@media screen and (max-width: 340px) {
  .contact-details-item {
    font-size: 0.8em;
    width: 250px !important; } }
